<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navdiv">
        <div class="logo"><a>
          Travel App
          </a></div>
        <div class="redirect">
          <a href="/signup" class="Sign Up">Quiz</a>
          <a href="/login" class="Login">Questionaire</a>
        </div>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>